<!DOCTYPE html>
<html>
    <head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main" id="about">

        {{>header}}
        <div class ="msg">
        <p>This site was created by Liana for test purposes. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="img/me.gif">
        </div>
        {{>footer}}
        </div>
</html>