<!DOCTYPE html>
<html>
    <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main" id="about">
        {{>header}}
        <p class ="msg">This site was created by Liana for test purposes. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="img/me.gif">
        
        {{>footer}}
        </div>
</html>