<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main" id="help">
             {{>header}}
        
        <p class="msg" id="helpmsg">{{message}}</p>
        
        {{>footer}}
        </div>
    </body>
</html>