<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
       
        
        
       </head>
    <body>
        <div class="main" id="content">
        <div>
        {{>header}}
        <p>Use Latin characters. Type the country and then the city seperated by a decimal point</p>
        <p>Example: Greece,Athens</p>
        <form>
            <input list = "countryList" id ="search" placeholder="location">
            <datalist id="countryList">
      </datalist>
      <button>Search</button>
        </form>
        </div>
         <div class="msg">
        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
      
       {{>footer}}
       </div>

     <script type="text/javascript">
          createEditableSelect(document.forms[0].myText);
         </script>
    <script src="/js/script.js"></script>
    </body>
</html>