body{
    
    padding: 2rem;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif; 
}
.main{
    box-sizing: border-box;
    max-width: 100rem;
    min-height: 80vh;
    margin: 1rem 20rem;
    padding: 0 1.6rem;
    box-shadow: 10px 10px 30px #000000;
    background-image: url("../img/bluesky.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left top;

    display: flex;
    flex-direction: column;

}
#msg{
    flex-grow: 1;
}

footer{
   color:#E5E4E2;
   border-top: 2px solid #6d5955;
   margin-top: 16px;
   padding: 16px 0;
   position: relative;
}
#created{
    position: relative;
    right: -23rem;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 2rem;
    margin-bottom: 16px;
    color: #BCC6CC;
}
header a{
    color: #E5E4E2;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 200px;

}
.error{
    color:darkred;
}
input{
    border: 1px solid #cccccc;
    padding: 8px
    
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
#message-1{
    font-weight: 900;
    color: red;
}