body{
    box-sizing: border-box;
    padding: 2rem;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400;
}

@media (max-width: 1.em) {  /*75*/
    body {
      font-size: 80%; 
      padding: 20px;} }
  @media (max-width:0.9em) {/*56.25*/
    body {
      font-size: 80%;
      padding: 20px; } }
      @media (min-width: 1.12em){
     body{
        font-size: 100%; 
        padding: 20px;} 
      }


.main{
    box-sizing: border-box;
    max-width: 100rem;
    min-height: 80vh;
    margin: 1rem 20rem;
    padding: 0 1.6rem;
    box-shadow: 10px 10px 30px #000000;
    background-image: url("../img/bluesky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 2s;

    display: flex;
    flex-direction: column;
}
@media (max-width: 75em) {
    .main {
     width: 100%;
    height: 80%; 
    margin: 0 auto;
    padding: 5px;
     background-position: center;} }
  @media (max-width: 56.25em) {
    .main {
        width: 100%;
        height: 80%; 
        margin: 0 auto;
        padding: 5px;
        background-position: center;} }
  @media (min-width: 112.5em) {
    .main {
        width: 100%;
        height: 80%; 
        margin: 0 auto;
        padding: 5px;
        background-position: center;} }
footer{
   color:#566D7E;
   border-top: 2px solid #566D7E;
   margin-top: 16px;
   padding: 16px 0;
   position: relative;
}
#created{
    position: relative;
    right: -23rem;
}
@media (max-width: 90em) {
   #created{
       position: relative;
       right: 0;
   }
  }
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 2rem;
    margin-bottom: 16px;
   background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
header a{
    color: #E5E4E2;
    margin-right: 16px;
    text-decoration: none;
    
}
.portrait{
    width: 8rem;
    position: relative;
    right: -23rem;
}
@media (max-width: 75em) {
    .portrait {
    width: 6rem;
   position: relative;
    right: 0;} }
  @media (max-width: 56.25em) {
    .portrait {
    width: 4rem;
    position: relative;
    right: 0;} }
  @media (min-width: 112.5em) {
    .portrait {
        width: 4rem;
        position: relative;
        right: 0;} }
#error{
    color:darkred;
    text-align: center;
    font-weight: 900;
}
input{
    border: 2px solid #888990;
    padding: 8px  
}
button{
    cursor: pointer;
    border: 2px solid #888990;
    background: -webkit-linear-gradient(#eee, #333);
    color: white;
    padding: 8px;
}
#message-1{
    font-weight: 900;
    color: red;
}
#about{
    
    background-image: url("../img/sun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}
#help{
    background-image: url("../img/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
}
#helpmsg{
    color: #E5E4E2;
}
.msg{
    flex-grow: 1;
}

#countryList{
    display: inline-block;
}